@import url(reset.css);

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-light-gray: #f9f9f9;
    --app--purple: #7339ac;
    --app-white:#fff;
    --app-lightgrey: #9a9a9a ;
    --app-black:#000 ;
}


header {
    background-color:var(--app-dark-bg);
    margin: 15;
    height: 65px;
}

header .flex {
    display: flex;
    justify-content: space-between;
}

.title h1 {
    font-size: 29px;
    text-transform: uppercase;
    color:var(--app-white);
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 56px;
    text-align:right ;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav ul {
    list-style: none;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    display: inline;
    line-height: 56px;
}

nav ul li a {
    color:var(--app-white);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #0659ac;
}

nav ul li + li {
    margin-left: 20px;
}

#banner {
    background: #fff url(../image/victor-freitas-WvDYdXDzkhs-unsplash.jpg) center center / cover no-repeat;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 0.5);
}
#banner h2 {
    margin-top: 300px;
    font-size: 60px;
}

h2 {
    margin-top: 220px;
    font-size: 45px;
    font: bold;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main {
    overflow: hidden; 
    height:calc(100vh - 70px -60px);
}

footer{
    height: 65px;
    background-color:var(--app-dark-bg);
    text-align: right;
}

footer p{
    font-size: 22px;
    line-height: 60px;
    color:var(--app-white);
    font-family: 'Roboto', sans-serif;
}

#about-us {
    background-color:var(--app-dark-bg);
    padding: 50px 0;
}
  
.container-about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
  
 h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
}

.container-about h2 + p {
    margin-top: 20px;
}

  
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--app-white);
    font-family: 'Roboto', sans-serif;
}

#pricing {
    background-color:#24292c;
    padding: 80px 0;
}
  
#pricing .pricing-container {
    margin-top: 70px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
  
.pricing-plan {
    background-color:#191c1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 20px;
    padding: 40px;
    flex-basis: 350px;
}
  
.pricing-plan h3 {
    font-size: 25px;
    margin-top: 0;
    color:var(--app-white); 
    font-family: 'Roboto', sans-serif;
}
  
.price {
    font-size: 36px;
    margin: 20px 0;
}
  
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    color:var(--app-white); 
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
  
li {
    margin-bottom: 10px;
}
  
.button {
    background-color: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}
  
.button:hover {
    background-color: #c2185b;
}
 
/*   Responsive Design*/
  
/* 992px and down */
@media (max-width: 1000px) {
    .title h1 {
        font-size: 27px;
    }
    nav ul li a {
        font-size: 19px;
    }
    h2 {
        font-size: 32px;
    }
    .container-about h2 {
        font-size: 29px;
    }
    .container-about p {
        font-size: 17px;
        margin: 9px;
    }
    .pricing-container{
        flex-direction:column;
        align-items: center; 
    }
    .pricing-plan {
        flex: 1; /* As i have 3 boxes, Thats why it is not filling space equally */
        margin: 10px 0;
    }
    ul {
        font-size: 15px;
    }
    footer p{
        font-size: 19px;
    }    
}
    
/* 768px and down */
@media (max-width: 768px) {
    .title h1 {
        font-size: 25px;
    }
    nav ul li a {
        font-size: 18px;
    }
    h2 {
        font-size: 29px;
    }
    .container-about h2 {
        font-size: 27px;
    }
    .container-about p {
        font-size: 15px;
        margin: 5px;
    }
    .pricing-container{
        flex-direction:column;
        align-items: center; 
    }
    ul {
        font-size: 13px;
    }
    footer p{
        font-size: 17px;
    }    
}
  
/* 480px and down */
 @media (max-width: 480px) {
    .title h1 {
        font-size: 23px;
    }
    nav ul li a {
        font-size: 16px;
    }
    h2 {
        font-size: 24px;
    }
    .container-about h2 {
        font-size: 25px;
    }
    .container-about p {
        font-size: 14px;
        margin: 5px;
    }
    .pricing-container{
        flex-direction:column;
        align-items: center; 
    }
    ul {
        font-size: 12px;
    }
    footer p{
        font-size: 15px;
    }
}
  